[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
Assets/Khoa/low-poly+hut+3d+model.glb
Assets/Khoa/Phao.glb
Assets/Khoa/Phao 2.glb
Assets/Khoa/nha tre 2.glb
